# Normaliza fim de linha. Scripts que rodam em containers Linux DEVEM ser LF.
* text=auto eol=lf

*.sh           text eol=lf
*.py           text eol=lf
*.sql          text eol=lf
*.yml          text eol=lf
*.yaml          text eol=lf
*.properties   text eol=lf
*.config       text eol=lf
Dockerfile     text eol=lf

# Scripts do Windows ficam CRLF
*.ps1          text eol=crlf

# Binarios
*.svg          text
